@import 'nib'
@import '_base'

body
  background-color #000
  color #CCC

section.app > h1
  padding 10px
  background-color #356AA0
  border solid #AAA
  border-width 2px 0

ul.experiments
  list-style-type none
  li
    display inline-block
    border 2px solid #111
    border-bottom 0px
    padding 10px
  > li h1
    text-align center
    text-transform uppercase
    font-size 20px
    font-weight normal
    color darkslategray
    letter-spacing 0.05em
